.wrapperToggleDiv {

    .toggleTitle {
        color: var(--white-02-color);
        font-size: 15px;
        margin: 0;
        margin-bottom: 10px;
    }

    .toggleDiv {
        width: 52px;
        min-width: 52px;
        height: 28px;
        // width: 100%;
        // height: 100%;
        user-select: none;
        background: #72767d;
        border-radius: 100px;
        padding: 3px 4px;
        cursor: pointer;

        transition: all 0.2s linear;

        .innerCircle {
            border-radius: 100%;
            width: 50%;
            height: 100%;
            background: #fff;

            transition: all 0.4s cubic-bezier(0.54, 1.6, 0.5, 1);
        }
    }

    .toggleOnDiv {
        background-color: var(--blue-04-color);

        .innerCircle {
            transform: translateX(100%);
        }
    }
}

.titleLeftDisplay {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .toggleTitle {
        margin: 0;
        margin-left: 5px;
    }
}